[project]
name = "vae"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "flask>=3.1.2",
    "flask-cors>=5.0.0",
    "pyinstaller>=6.18.0",
    "ultralytics>=8.4.9",
]
